root = true

[*]
end_of_line = crlf

[*.cs]
indent_style = tab
tab_width = 4
dotnet_style_qualification_for_event = true:error
dotnet_style_qualification_for_field = true:error
dotnet_style_qualification_for_method = true:error
dotnet_style_qualification_for_property = true:error